<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Atualizar Ativo</title>
</head>

<body>
  <header>
    <%- include('../header.ejs'); %>
  </header>
  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    <form action="/ativo/atualizar" method="get">
      <div class="form-row">
        <div class="form-group">
          <label>Serial Number</label>
          <input type="text" class="form-control" name="serial_number">
        </div>
        <button type="submit" value="enviar" class="btn" style="background-color: lightblue; height:  fit-content; margin-left: 10px; margin-top: 30px;">Pesquisar</button>
      </div>
    </form>
  </div>
  <% if (error) {%>
  <h3> <%= error %></h3>
  <%}%>
  <% if (ativo) {%>

  <form action="/ativo/atualizar/salvar" method="post"></form>
  <h4 style="margin-top: 50px;">Dados do ativo</h4>
  <div class="form-group">
    <label for="tipo">Tipo</label>
    <input type="text" class="form-control" id="tipo" value="<%= ativo.tipo %>">
  </div>
  <div class="form-group">
    <label for="marca">Marca</label>
    <input type="text" class="form-control" id="marca" value="<%= ativo.marca %>">
  </div>
  <div class="form-group">
    <label for="modelo">Modelo</label>
    <input type="text" class="form-control" id="modelo" value="<%= ativo.modelo %>">
  </div>
  <div class="form-group">
    <label for="serial_number">Serial Number</label>
    <input type="text" class="form-control" id="serial_number" value="<%= ativo.serial_number %>">
  </div>
  <div class="form-group">
    <label for="desgaste">Desgaste</label>
    <input type="text" class="form-control" id="desgaste" value="<%= ativo.desgaste %>">
  </div>
  <div class="form-group">
    <label for="registrado_em">Registrado em</label>
    <input type="text" class="form-control" id="registrado_em" value="<%= ativo.registrado_em %>">
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" value="enviar" class="btn" style="background-color: lightblue;">Atualizar</button>
  </div>
  </form>
  <%}%>

</body>

</html>