<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Estoque</title>
  <style>
    .center-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  </style>

</head>

<body>
  <header>
    <%- include('header.ejs'); %>
  </header>
  <div>
    <% if (ativo !=0 ) { %>
      <div class="table-responsive-md" style="padding: 20px;">
        <table class="table">
          <h4 class="text-center">Ativos Registrados</h4>
        <caption>Ativos totais: <%= ativo.length%></caption>
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Modelo</th>
            <th class="text-center">Marca</th>
            <th class="text-center">Serial Number</th>
          </tr>
        </thead>
        <tbody>
          <% ativo.forEach(function(ativos){ %>
            <tr>
              <td class="text-center"><%= ativos.id_ativo%></td>
              <td class="text-center"><%= ativos.tipo%></td>
              <td class="text-center"><%= ativos.modelo%></td>
              <td class="text-center"><%= ativos.marca %></td>
              <td class="text-center"><%= ativos.serial_number%></td>
            </tr>
            <% })%>
        </tbody>
      </table>
      </div>
    <%} else {%>
    <div class="card-columns">
      <div class="card">
        <div class="card-body">
          <h4>Nenhum ativo registrado!</h4>
        </div>
      </div>
    </div>
    <%}%>
    <% if (ativo !=0 ) { %>
      <div class="table-responsive-md" style="padding: 20px;">
        <table class="table">
          <h4 class="text-center">Empréstimos</h4>
        <caption>Ativos totais: <%= ativo.length%></caption>
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Modelo</th>
            <th class="text-center">Marca</th>
            <th class="text-center">Serial Number</th>
          </tr>
        </thead>
        <tbody>
          <% ativo.forEach(function(ativos){ %>
            <tr>
              <td class="text-center"><%= ativos.id_ativo%></td>
              <td class="text-center"><%= ativos.tipo%></td>
              <td class="text-center"><%= ativos.modelo%></td>
              <td class="text-center"><%= ativos.marca %></td>
              <td class="text-center"><%= ativos.serial_number%></td>
            </tr>
            <% })%>
        </tbody>
      </table>
      </div>
    <%} else {%>
    <div class="card-columns">
      <div class="card">
        <div class="card-body">
          <h4>Nenhum empréstimo registrado!</h4>
        </div>
      </div>
    </div>
    <%}%>
  </div>
  <script>

  </script>

</body>
</html>