<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Estoque</title>
</head>

<body>
    <header>
      <%- include('header.ejs'); %>
    </header>
  <div class="container" style="max-width: inherit;">
    <div class="row" style="margin-top: 20px;">
      <div class="col-sm">
        <% if ( ativo != null ) { %>
        <h4 class="text-center">Ativos</h4>
        <caption>Ativos totais: <%= ativo.length%></caption>
        <div class="table-responsive-sm">
          <table class="table table-bordered">
            <thead>
              <tr>
                <!-- <th class="text-center">Id</th> -->
                <th class="text-center">Tipo</th>
                <th class="text-center">Modelo</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Serial Number</th>
              </tr>
            </thead>
            <tbody>
              <% ativo.forEach(function(ativos){ %>
              <tr>
                <!-- <td class="text-center"><%= ativos.id_ativo%></td> -->
                <td class="text-center"><%= ativos.tipo%></td>
                <td class="text-center"><%= ativos.modelo%></td>
                <td class="text-center"><%= ativos.marca %></td>
                <td class="text-center"><%= ativos.serial_number%></td>
              </tr>
              <% })%>
            </tbody>
          </table>
        </div>
        <%} else {%>
        <div class="card-columns">
          <div class="card">
            <div class="card-body">
              <h4>Nenhum ativo registrado!</h4>
            </div>
          </div>
        </div>
        <%}%>
      </div>
      <div class="col-sm">
        <%if ( emprestimo != null ) {%>
        <h4 class="text-center">Empréstimos</h4>
        <caption>Empréstimos totais: <%= emprestimo.length%></caption>
        <div class="table-responsive-sm">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Tipo</th>
                <th class="text-center">Modelo</th>
                <th class="text-center">Serial Number</th>
                <th class="text-center">Funcionario</th>
              </tr>
            </thead>
            <tbody>
              <% emprestimo.forEach(function(emprestimos){ %>
              <tr>
                <td class="text-center"><%= emprestimos.tipo%></td>
                <td class="text-center"><%= emprestimos.modelo%></td>
                <td class="text-center"><%= emprestimos.serial_number%></td>
                <td class="text-center"><%= emprestimos.nome %></td>
              </tr>
              <% })%>
            </tbody>
          </table>
        </div>
        <%} else {%>
        <div class="card-columns">
          <div class="card">
            <div class="card-body">
              <h4>Nenhum empréstimo registrado!</h4>
            </div>
          </div>
        </div>
        <%}%>
      </div>
      <div class="col">
        <%if ( transferencia != null ) {%>
        <h4 class="text-center">Transferências</h4>
        <caption>Transferências totais: <%= transferencia.length%></caption>
        <div class="table-responsive-sm ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Serial Number</th>
                <th class="text-center">Atual</th>
                <th class="text-center">Anterior</th>
                <th class="text-center">Transferido em</th>
              </tr>
            </thead>
            <tbody>
              <% transferencia.forEach(function(transferencias){ %>
              <tr>
                <td class="text-center"><%= transferencias.serial_number%></td>
                <td class="text-center"><%= transferencias.nome %></td>
                <td class="text-center"><%= transferencias.id_antigo_responsavel %></td>
                <td class="text-center"><%= transferencias.transferido_em %></td>
              </tr>
              <% })%>
            </tbody>
          </table>
        </div>
        <%} else {%>
        <div class="card-columns">
          <div class="card">
            <div class="card-body">
              <h4>Nenhuma transferência registrada!</h4>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <h1>graph</h1>

<canvas id="myChart" style="width:100%;max-width:700px"></canvas>

  </div>
  <script>
    var xyValues = [
      {x:50, y:7},
      {x:60, y:8},
      {x:70, y:8},
      {x:80, y:9},
      {x:90, y:9},
      {x:100, y:9},
      {x:110, y:10},
      {x:120, y:11},
      {x:130, y:14},
      {x:140, y:14},
      {x:150, y:15}
    ];
    
    new Chart("myChart", {
      type: "scatter",
      data: {
        datasets: [{
          pointRadius: 4,
          pointBackgroundColor: "rgb(0,0,255)",
          data: xyValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          xAxes: [{ticks: {min: 40, max:160}}],
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
  </script>

</body>
</html>