<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <title>Registrar Transferência</title>
</head>

<body>
  <header>
    <%- include('../header.ejs'); %>
  </header>
  <section>
    <% if(errors) { %>
    <ul>
      <% for(let i=0; i < errors.length; i++){ %>
      <li>
        <%= errors[i].msg %>
      </li>
      <% } %>
    </ul>
    <% } %>
  </section>
  <form action="/transferencia/salvar" method="post">
    <input type="text" name="tipo" placeholder="antigo responsável" value=<%= transfer.tipo %>>
    <input type="text" name="marca" placeholder="atual responsável" value=<%= transfer.marca %>>
    <input type="text" name="tipo" placeholder="tipo" value=<%= transfer.tipo %>>
    <input type="text" name="marca" placeholder="marca" value=<%= transfer.marca %>>
    <input type="text" name="modelo" placeholder="modelo" value=<%= transfer.modelo %>>
    <input type="text" name="desgaste" placeholder="desgaste" value=<%= transfer.desgaste %>>
    <input type="submit" value="enviar">
  </form>

</body>

</html>